%h1
  My Bank

.row
  .col-md-12
    %h2
      Number of accounts: #{number_of_accounts}
    %h2
      Number of clients: #{number_of_clients}

.row
  .col-md-12
    = link_to bank_accounts_path do
      Bank Accounts